.table-container{
  height: 420px;
	width: 1100px;
	border-radius: 5px;
	position: absolute;
	top: 170px;
	left: 300px;

}
.table-container table {
  border-collapse: collapse;
  width: 100%;
  
}

.table-container th, td {
  padding: 8px;
  text-align: left;
  font-family: 'lato', sans-serif;
  color:black;
}

.table-container th {
  background-color: #3498db;
  color: white;
}

.table-container  tr:nth-child(even) {
  background-color: #f2f2f2;
  
}

.table-container  tr:hover {
  background-color: #ddd;
}
.table-container .delete {
  float: right;
  margin-bottom: 10px;
}

.prodbtn {
  width: 165px;
  height: 30px;
  top: 45px;
  background: #0C0C0C;
  border-radius: 5px;
  color:white;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.transbtn {
  width: 165px;
  height: 30px;
  top: 45px;
  background: #D0D0D0;
  border-radius: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.sortby button{
  position: absolute;
  width: 100px;
  height: 30px;
  left: 300px;
  top: 130px;
  background: #5B5B5B;
  border-radius: 3px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: #FFFFFF;
}


.sort{
  box-sizing: border-box;
  position: absolute;
  width: 140px;
  height: 30px;
  left: 410px;
  top: 130px;
  border: 1px solid #000000;
  border-radius: 3px 3px 0px 0px;
}



.sortby option{
  background-color: black;
  color: white;
}

.sortby1 option{
  background-color: black;
  color: white;
}

.deleteBtn {
	background-color: #004385;
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	width: 110px;
	height: 30px;
	border: none;
	cursor: pointer;

  }

 .serbtn{
  position: absolute;
  width: 165px;
  height: 30px;
  left: 655px;
  top: 45px;
  background: #004385;
  border-radius: 5px;
  font-family: 'Lato',  sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
 }

 .serbtn1{
  position: absolute;
  width: 165px;
  height: 30px;
  left: 655px;
  top: 45px;
  background: #D0D0D0;
  border-radius: 5px;
  font-family: 'Lato',  sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
 }


 .stabtn{
  position: absolute;
  width: 165px;
  height: 30px;
  left: 830px;
  top: 45px;
  background: #D0D0D0;
  border-radius: 5px;
  font-family: 'Lato',  sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
 }

 .stabtn1{
  position: absolute;
  width: 165px;
  height: 30px;
  left: 1005px;
  top: 45px;
  background: #004385;
  border-radius: 5px;
  font-family: 'Lato',  sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
 }

 .appbtn{
  position: absolute;
  width: 165px;
  height: 30px;
  left: 1006px;
  top: 45px;
  background: #D0D0D0;
  border-radius: 5px;
  font-family: 'Lato',  sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
 }

 .appbtn1{
  position: absolute;
  width: 165px;
  height: 30px;
  left: 1006px;
  top: 45px;
  background: #004385;
  border-radius: 5px;
  font-family: 'Lato',  sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;

 }

 .unbtn{
  position: absolute;
  width: 126px;
  height: 30px;
  left: 974px;
  top: -40px;
  background: #5B5B5B;
  border-radius: 3px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #FFFFFF;
 }

 .del{ 
   position: absolute;
  width: 126px;
  height: 30px;
  left: 974px;
  top: -40px;
  background: #004385;
  border-radius: 3px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #FFFFFF;
 }

 #preview-image{
    position: absolute;
    top: 80px;
    width: 30px;
   height: 30px;
   left: 930px;  
   background: #FFFFFF;
   border-radius: 5px;
 }


 