@media only screen and (max-width: 8800px){
.table-container{
    height: 420px;
      width: 1100px;
      border-radius: 5px;
      position: absolute;
      top: 170px;
      left: 300px;
  }
  .table-container table {
    border-collapse: collapse;
    width: 100%;
    
  }
  
  .table-container th, td {
    padding: 8px;
    text-align: left;
    font-family: 'lato', sans-serif;
  }
  
  .table-container th {
    background-color: #3498db;
    color: white;
  }
  
  .table-container  tr:nth-child(even) {
    background-color: #f2f2f2;
    
  }
  
  .table-container  tr:hover {
    background-color: #ddd;
  }
  .table-container .delete {
    float: right;
    margin-bottom: 10px;
  }
  
  .prodbtn {
    width: 165px;
    height: 30px;
    top: 45px;
    background: red;
    border-radius: 5px;
    color:white;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }
  
  .transbtn {
    width: 165px;
    height: 30px;
    top: 45px;
    background: #D0D0D0;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
  
  .sortby button{
    position: absolute;
    width: 100px;
    height: 30px;
    left: 300px;
    top: 130px;
    background: #5B5B5B;
    border-radius: 3px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
  }
  
  
  .sort{
    box-sizing: border-box;
    position: absolute;
    width: 140px;
    height: 30px;
    left: 410px;
    top: 130px;
    border: 1px solid #000000;
    border-radius: 3px 3px 0px 0px;
  }
  
  
  
  .sortby option{
    background-color: black;
    color: white;
  }
  
  .sortby1 option{
    background-color: black;
    color: white;
  }
  
  .deleteBtn {
      background-color: #004385;
      color: white;
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      width: 110px;
      height: 30px;
      border: none;
      cursor: pointer;
  
    }
  
   .serbtn{
    position: absolute;
    width: 165px;
    height: 30px;
    left: 655px;
    top: 45px;
    background: #004385;
    border-radius: 5px;
    font-family: 'Lato',  sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
   }
  
   .serbtn1{
    position: absolute;
    width: 165px;
    height: 30px;
    left: 655px;
    top: 45px;
    background: #D0D0D0;
    border-radius: 5px;
    font-family: 'Lato',  sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
   }
  
  
   .stabtn{
    position: absolute;
    width: 165px;
    height: 30px;
    left: 830px;
    top: 45px;
    background: #D0D0D0;
    border-radius: 5px;
    font-family: 'Lato',  sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
   }
  
   .stabtn1{
    position: absolute;
    width: 165px;
    height: 30px;
    left: 830px;
    top: 45px;
    background: #004385;
    border-radius: 5px;
    font-family: 'Lato',  sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
   }
  
   .appbtn{
    position: absolute;
    width: 165px;
    height: 30px;
    left: 1006px;
    top: 45px;
    background: #D0D0D0;
    border-radius: 5px;
    font-family: 'Lato',  sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
   }
  
   .appbtn1{
    position: absolute;
    width: 165px;
    height: 30px;
    left: 1006px;
    top: 45px;
    background: #004385;
    border-radius: 5px;
    font-family: 'Lato',  sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
  
   }
  
   .unbtn{
    position: absolute;
    width: 126px;
    height: 30px;
    left: 974px;
    top: -40px;
    background: #5B5B5B;
    border-radius: 3px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
   }
  
   /*dashboard-appointment*/
  
  .box-container-2 {
    position: absolute;
    width: 550px;
    height: 190px;
    left: 270px;
    top: 370px;
    background: #0C0C0C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }
  
  .box-container-3 {
    position: absolute;
    width: 550px;
    height: 190px;
    left: 270px;
    top: 570px;
    background: #0C0C0C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }
  .box-container-4 {
    position: absolute;
    width: 565px;
    height: 390px;
    left: 840px;
    top: 370px;
    background: #0C0C0C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }
  
  .my-text {
    position: absolute;
    width: 252px;
    height: 43px;
    left: 740px;
    top: 140px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }
  
  /*charts*/
  .charts{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    padding-top:0;
    width:500px;
  }
  
  .chart{
    position: absolute;
    width: 1134px;
    height: 250px;
    left: 270px;
    top: 110px;
    background: #0C0C0C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }
  
  .chart1{
    position: absolute;
    width: 565px;
    height: 390px;
    left: 840px;
    top: 370px;
    background: #0C0C0C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }
  
  .chart h2{
    position: absolute;
    width: 252px;
    height: 43px;
    left: 900px;
    top: 10px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #ffffff;
  }

 .chart h3{
    position: absolute;
    width: 252px;
    height: 43px;
    left: 865px;
    top: 10px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #ffffff;
  }
  
  .chart1 h2{
    position: absolute;
    width: 252px;
    height: 43px;
    left: 245px;
    top: 10px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #ffffff;
  }

  .chart1 h3{
    position: absolute;
    width: 252px;
    height: 43px;
    left: 400px;
    top: 10px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #ffffff;
  }
  
  .member {
    position: absolute;
    width: 262px;
    height: 30px;
    left: 445px;
    top: 390px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    color: #FFFFFF;
  }
  
  .trainee {
    position: absolute;
    width: 262px;
    height: 30px;
    left: 445px;
    top: 590px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    color: #FFFFFF;
  }
  
  .no{
    position: absolute;
    width: 342px;
    height: 96px;
    left: 350px;
    top: 450px;
    color: #ffffff;
    font-family: 'lato', sans-serif;
  }
  
  .num{
      position: absolute;
      width: 342px;
      height: 96px;
      left: 350px;
      top: 650px;
      color: #ffffff;
      font-family: 'lato', sans-serif;
  }
  
  .no1{
    position: absolute;
    width: 35px;
    height: 24px;
    left: 660px;
    top: 450px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
  }
  
  .no2{
    position: absolute;
    width: 35px;
    height: 24px;
    left: 660px;
    top: 450px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
  }
  .num1{
    position: absolute;
    width: 35px;
    height: 24px;
    left: 660px;
    top: 650px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
  }
  
  /*Dashboard-E-commerce*/
  .box-container-com{
    position: absolute;
    width: 555px;
    height: 390px;
    left: 270px;
    top: 370px;
    background: #0C0C0C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }
  
  /*Dashboard-Inventory*/
  
  .inc {
    position: absolute;
    width: 262px;
    height: 30px;
    left: 445px;
    top: 390px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    color: #FFFFFF;
  }
  
  .in{
    position: absolute;
    width: 342px;
    height: 96px;
    left: 350px;
    top: 450px;
    color: #ffffff;
    font-family: 'lato', sans-serif;
  }
  
  .prc{
    position: absolute;
    width: 35px;
    height: 24px;
    left: 660px;
    top: 450px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
  }

  .incm{
    position: absolute;
    width: 262px;
    height: 30px;
    left: 500px;
    top: 390px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    color: #FFFFFF;
  }

  .chart h5{
    position: absolute;
    width: 252px;
    height: 43px;
    left: 960px;
    top: 10px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #ffffff;

  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    top: -15px !important; 
    left:10px;
  }
  

  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    top: -70px; /* adjust this value to move the dropdown list up */
    float: center;
    min-width: 141px;
    padding: 5px;
    background-color: #D9D9D9;
    border-radius: 5px;
  }
  

  .dropdown-content a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 5px 0;
  }

  .dropdown-content a:hover {
    background-color:#D9D9D9;
    color:#004385;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  

    
  }