
.blckcontainer {
    position: absolute;
    width: 1016px;
    height: 600px;
    left: 270px;
    top: 150px;
    background: #0C0C0C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
  }
  
  .admn{
    position: absolute;
    width: 621px;
    height: 30px;
    left: 320px;
    top: 200px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
  }
  
  .admnID{     
    position: absolute;
    width: 621px;
    height: 30px;
    left: 480px;
    top: 200px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
  }
  
  .nam{
    position: absolute;
    width: 621px;
    height: 30px;
    left: 320px;
    top: 280px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
  }
  
  .ps{
    position: absolute;
    width: 621px;
    height: 30px;
    left: 320px;
    top: 360px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
  }
  
  .st{
    position: absolute;
    width: 621px;
    height: 30px;
    left: 620px;
    top: 360px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
  }
  
  .cn{
    position: absolute;
    width: 621px;
    height: 30px;
    left: 320px;
    top: 440px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
  }
  
  .em{
    position: absolute;
    width: 621px;
    height: 30px;
    left: 320px;
    top: 520px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
  }
  
  .pas{
    position: absolute;
    width: 621px;
    height: 30px;
    left: 320px;
    top: 600px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
  }
  
  .nmin input{
    position: absolute;
    width: 440px;
    height: 30px;
    left: 410px;
    top: 168px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
    border-radius: 5px;

  }
  
  .psin input{
    position: absolute;
    width: 170px;
    height: 30px;
    left: 428px;
    top: 245px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
    border-radius: 5px;
  }
  
  .stin input{   
    position: absolute;
    width: 130px;
    height: 30px;
    left: 720px;
    top: 245px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
    border-radius: 5px;
  }
  
  .cnin input{
    position: absolute;
    width: 330px;
    height: 30px;
    left: 520px;
    top: 325px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
    border-radius: 5px;
  } 

  .emin input{
    position: absolute;
    width: 350px;
    height: 30px;
    left: 500px;
    top: 405px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
    border-radius: 5px;
  }

  .pasin input{
    position: absolute;
    width: 400px;
    height: 30px;
    left: 450px;
    top: 485px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
    border-radius: 5px;
  }

  .checkbox{
    position: absolute;
    width: 472px;
    height: 22px;
    left: 450px;
    top: 650px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #004385;
  }


#preview-image {
  position: absolute;
  top: 80px;
  width: 300px;
    height: 300px;
    left: 930px;  
    background: #FFFFFF;
    border-radius: 5px;
}
  
  .savebtn{
    position: absolute;
    width: 275px;
    height: 40px;
    left: 595px;
    top: 690px;
    background: #004385;
    border-radius: 5px;
    color:#ffffff;  
    position: absolute;
  width: 275px;
  height: 36px;
  left: 595px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  align-items: center;
  text-align: center;

color: #FFFFFF;
  }