@import url('https://fonts.googleapis.com/css2?family=lato:wght@400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'lato', sans-serif;
}

nav {
  background-color: #0c0c0c;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px 30px 30px;
}

nav .left-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

nav .left-nav img {
  width: 50px;
  border: 1px solid white;
  border-radius: 100%;
}

nav .left-nav p {
  color: #339eff;
  font-weight: 900;
  font-size: 30px;
  transform: translateY(10px);
}

.right-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.icon {
  border: 1px solid;
  background-color: white;
  border-radius: 100%;
  display: flex;
  padding: 10px;
  cursor: pointer;
  transform: translateY(10px);
}

.icon .fa-user {
  font-size: 20px;

}

.right-icon .fa-bell {
  font-size: 30px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  padding: 10px 20px 10px 20px;
  width: 185px;
  height:130px;
  z-index: 1;
  top: 12%;
  background-color: #D9D9D9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  transform: translateX(-40px) translateY(-40px);
  border-radius: 5px;
}

.dropdown-menu ul {
  list-style: none;
  margin: 0;

  text-align: right;
  padding: 0;
}

.dropdown-menu li {
  margin: 0;
}

.dropdown-menu a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #000000;
  text-align: center;
  font-weight: 700;
}

.dropdown-menu a:hover {
  color: #004385;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 150px 20px 150px;
}

.container-child h2 {
  font-size: 25px;
  font-weight: 600;
  color: #000000;
  font-family:'lato', sans-serif;
}


.adminrod{
  font-size: 40px;
  font-weight: 600;
  color: #000000;
  font-family:'lato', sans-serif;
}

.dash{
  font-weight: 600;
  font-size: 25px;
}
  

.container-child .box-card {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 70px 0 70px 0;
  gap: 20px;
  width: 100%;


}

.box-card .boxes {
  width: 100%;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  background-color: #cccccc;
  border-radius: 20px;

}

.box-card .boxes a {
  text-align: center;
  text-decoration: none;
  color: black;

}

.box-card .boxes a:hover {
  color: #0082f8;

}

.box-card .boxes p {
  padding: 20px 0 0 0;

}

.box img {
  width: 200px;
  transform: translateY(10px);
}

.footer{
  background-color: #0c0c0c;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 0 10px 56px;
  text-align: center;
  transform: translateY(171px);
}

.footer p{
  transform: translateY(-30px) translateX(25px);
}


.crdts{
  background-color: #0c0c0c;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 764px;
  text-align: center;
  transform: translateY(158px); 
}


@media only screen and (max-width: 900px) {
  .container {

    padding: 40px;


  }

  .container-child .box-card {
    display: grid;
    grid-template-columns: auto;

  }
}

@media only screen and (max-width: 1185px) and (min-width: 800px) {

  .container-child .box-card {
    display: grid;
    grid-template-columns: auto auto;

  }

}

.table-container{
    height: 420px;
      width:1700px;
      border-radius: 5px;
      position: absolute;
      top: 170px;
      left:190px;
  
  }
  .table-container table {
    border-collapse: collapse;
    width: 100%;
    
  }
  
  .table-container th, td {
    padding: 8px;
    text-align: left;
    font-family: 'lato', sans-serif;
    color:black;
  }
  
  .table-container th {
    background-color: #3498db;
    color: white;
  }
  
  .table-container  tr:nth-child(even) {
    background-color: #f2f2f2;
    
  }
  
  .table-container  tr:hover {
    background-color: #ddd;
  }
  .table-container .delete {
    float: right;
    margin-bottom: 10px;
  }
  
  .prodbtn {
    width: 165px;
    height: 30px;
    top: 45px;
    background: #0C0C0C;
    border-radius: 5px;
    color:white;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }
  
  .transbtn {
    width: 165px;
    height: 30px;
    top: 45px;
    background: #D0D0D0;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
  
  .sortby button{
    position: absolute;
    width: 100px;
    height: 30px;
    left: 300px;
    top: 130px;
    background: #5B5B5B;
    border-radius: 3px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
  }
  
  
  .sort{
    box-sizing: border-box;
    position: absolute;
    width: 140px;
    height: 30px;
    left: 410px;
    top: 130px;
    border: 1px solid #000000;
    border-radius: 3px 3px 0px 0px;
  }
  
  
  
  .sortby option{
    background-color: black;
    color: white;
  }
  
  .sortby1 option{
    background-color: black;
    color: white;
  }
  
  .deleteBtn {
      background-color: #004385;
      color: white;
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      width: 110px;
      height: 30px;
      border: none;
      cursor: pointer;
  
    }
  
   .serbtn{
    position: absolute;
    width: 165px;
    height: 30px;
    left: 655px;
    top: 45px;
    background: #004385;
    border-radius: 5px;
    font-family: 'Lato',  sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
   }
  
   .serbtn1{
    position: absolute;
    width: 165px;
    height: 30px;
    left: 655px;
    top: 45px;
    background: #D0D0D0;
    border-radius: 5px;
    font-family: 'Lato',  sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
   }
  
  
   .stabtn{
    position: absolute;
    width: 165px;
    height: 30px;
    left: 830px;
    top: 45px;
    background: #D0D0D0;
    border-radius: 5px;
    font-family: 'Lato',  sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
   }
  
   .stabtn1{
    position: absolute;
    width: 165px;
    height: 30px;
    left: 830px;
    top: 45px;
    background: #004385;
    border-radius: 5px;
    font-family: 'Lato',  sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
   }
  
   .appbtn{
    position: absolute;
    width: 165px;
    height: 30px;
    left: 1006px;
    top: 45px;
    background: #D0D0D0;
    border-radius: 5px;
    font-family: 'Lato',  sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
   }
  
   .appbtn1{
    position: absolute;
    width: 165px;
    height: 30px;
    left: 1006px;
    top: 45px;
    background: #004385;
    border-radius: 5px;
    font-family: 'Lato',  sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
  
   }
  
   .unbtn{
    position: absolute;
    width: 126px;
    height: 30px;
    right: 0px;
    top: -40px;
    background: #5B5B5B;
    border-radius: 3px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
   }
  
   .del{ 
     position: absolute;
    width: 126px;
    height: 30px;
    left: 974px;
    top: -40px;
    background: #004385;
    border-radius: 3px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
   }
  
   #preview-image{
      position: absolute;
      top: 80px;
      width: 30px;
     height: 30px;
     left: 930px;  
     background: #FFFFFF;
     border-radius: 5px;
   }
  
  
   